
<div class="w-100 px-3 pb-1">
    <div class="@divClass" @onclick="onAction">
        <input type="text" class="form-control" placeholder="Cellphone">
        @if (showActions)
        {
            <div class="d-flex align-items-ceneter justify-content-end pt-2">
                <button type="button" class="btn btn-outline-light btn-sm">
                    <i class="fa-solid fa-grip"></i>
                </button>
                <button type="button" class="btn btn-outline-info btn-sm mx-3">
                    <i class="fa-solid fa-copy"></i>
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm">
                    <i class="fa-solid fa-square-minus"></i>
                </button>
            </div>
        }
    </div>
</div>

<style>
    .selected {
        border: 2px solid lightblue !important;
        border-style: dashed !important;
    }
</style>

@code {
    private string divClass = "p-2";
    private bool showActions = false;

    private void onAction()
    {
        if (!divClass.Contains("selected"))
        {
            divClass = "selected p-2";
            showActions = true;
        }
        else
        {
            divClass = "p-2";
            showActions = false;
        }
    }
}
