
<div class="overflow-auto">
    <div class="row d-flex align-items-center border-b-black p-2 w-100">
        <div class="col-md-4 f-s-12">
            @* <button type="button" class="btn" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="Testing Popover">
            </button> *@
            <i class="fa-solid fa-brush text-light mx-1 pointer"></i>
            <i class="fa-brands fa-squarespace text-light pointer"></i>
            <span class="mx-2 mb-0 text-danger">Layout: 2</span>
        </div>

        <div class="col-md-4 text-center">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-info btn-sm">
                    <i class="fa-solid fa-desktop"></i>
                </button>
                <button class="btn btn-outline-light btn-sm">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </button>
            </div>
        </div>

        <div class="col-md-4 f-s-12 text-end">
            <span class="mx-2 mb-0 text-info">Generate JSON</span>
            <i class="fa-solid fa-font text-light mx-1 pointer"></i>
            <i class="fa-regular fa-eye text-light pointer"></i>
        </div>
    </div>

    <div class="w-100 h-88vh mt-3 overflow-auto" id="contentBody">
        @if (showEmailInput)
        {
            <Email_Input />
        }

        @if (showRegionInput)
        {
            <Region_Input />
        }

        @if (showCellphoneInput)
        {
            <Cellphone_Input />
        }

        @if (showURLInput)
        {
            <URL_Input />
        }

        @if (showIdInput)
        {
            <Id_Input />
        }
    </div>
</div>

<style>

    .h-88vh{
        height: 88vh !important;
    }

    .border-b-black{
        border-bottom: 2px solid black !important
    }

    .f-s-12{
        font-size: 12px !important;
    }
</style>


@code {

    [Parameter]
    public string ElementName { get; set; } = "";

    private bool showEmailInput = false;
    private bool showRegionInput = false;
    private bool showCellphoneInput = false;
    private bool showURLInput = false;
    private bool showIdInput = false;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        // Set the flag for the specified element
        switch (ElementName)
        {
            case "Email":
                showEmailInput = true;
                break;
            case "Region":
                showRegionInput = true;
                break;
            case "Cellphone":
                showCellphoneInput = true;
                break;
            case "URL":
                showURLInput = true;
                break;
            case "Id Number":
                showIdInput = true;
                break;
            default:
                break;
        }
    }

}