
<div class="overflow-auto">
    <div class="row d-flex align-items-center border-b-black p-2 w-100">
        <div class="col-md-4 f-s-12">
            <i class="fa-solid fa-brush text-light mx-1 pointer"></i>
            <i class="fa-brands fa-squarespace text-light pointer"></i>
            <span class="mx-2 mb-0 text-danger">Layout: 2</span>
        </div>

        <div class="col-md-4 text-center">
            <div class="btn-group" role="group">
                <button class="btn btn-outline-info btn-sm">
                    <i class="fa-solid fa-desktop"></i>
                </button>
                <button class="btn btn-outline-light btn-sm">
                    <i class="fa-solid fa-mobile-screen-button"></i>
                </button>
            </div>
        </div>

        <div class="col-md-4 f-s-12 text-end">
            <span class="mx-2 mb-0 text-info">Generate JSON</span>
            <i class="fa-solid fa-font text-light mx-1 pointer"></i>
            <i class="fa-regular fa-eye text-light pointer"></i>
        </div>
    </div>

    <div class="w-100 mt-3" id="contentBody">
    </div>
</div>

<style>

    .border-b-black{
        border-bottom: 2px solid black !important
    }

    .f-s-12{
        font-size: 12px !important;
    }
</style>



