<div class="row w-100 f-s-12 px-3 pt-2 pb-2 text-white">
        <span>Form Attribute</span>

        <div class="row w-100 mt-4">
            <span>Synchronize computer and mobile configurations</span>
            <div class="form-check form-switch mt-2 mx-3">
                <input class="form-check-input radio-toggle" type="checkbox" id="toggleSlider">
                <label class="form-check-label" for="toggleSlider"></label>
            @* role="switch" *@
            </div>
        </div>
        <div class="row w-100 mt-4 text-start ">
            <span class="">Size Of Field</span>
            <div class="btn-group col-md-12" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                <label class="btn btn-sm btn-outline-primary" for="btnradio1">Large</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                <label class="btn btn-sm btn-outline-primary" for="btnradio2">Default</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                <label class="btn btn-sm btn-outline-primary" for="btnradio3">Small</label>
            </div>
        </div>
        <div class="row w-100 mt-4">
            <span>label Alignment</span>
            <div class="col-md-4 p-0">
                <img src="no-img.png" alt="No Image" class="w-img">
            </div>
            <div class="col-md-4 p-0">
            <img src="no-img.png" alt="No Image" class="w-img">
            </div>
            <div class="col-md-4 p-0">
            <img src="no-img.png" alt="No Image" class="w-img">
            </div>
        </div>
        <div class="button-div mt-3 mx-2">
            <span>Button</span>
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
        <div class="text-container mt-3 mx-2">
            <span>Text</span>
            <input class="form-control form-control-sm" type="text" placeholder="Place Holder">
        </div>
        <div class="row w-100 mt-4 mx-2">
            <div class="col-md-6">
                <p for="color" class="m-0">Color:</p>
                <input type="color" id="color" name="color" value="#4797dd">
            </div>
            <div class="col-md-6">
                <p for="backColor" class="m-0">Background:</p>
                <input type="color" id="backColor" name="backColor" value="#4797dd">
            </div>
        </div>
        <button type="button" class="btn btn-light mt-4 mx-3">Logic Control</button>
    </div>


<style>
    .f-s-12{
        font-size: 12px !important;
    }

    .w-img{
        width: 70px !important;
    }

    .radio-toggle {
        width: 35px !important;
        height: 20px !important;
    }
</style>